.cities{
    background: color(quaternary);
    height: 168vh;
    @include desktop{
        height: 99vh;
    }
}

.cities-info-text{
    text-align: center;
    font-size: 5rem;
    @include desktop{
        font-size: 10rem;
    }
}

.cities-gallery-cards{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    justify-content: center;
    @include desktop{
        flex-direction: row;
        justify-content: space-evenly;
        height: 85vh;
    }
}

.cities-text{
    color: black;
    font-size: 4rem;
    transition: .5s;
}

.c-card{
    text-align: center;
    background-color: white;
    height: 50vh;
    width: 30rem;
    border-radius: 5rem;
    margin-bottom: 2.5vh;
    transition: .5s;
    @include desktop{
        margin: 0;
    }
}

.c-info{
    color: black;
    font-size: 2.5rem;
    transition: .5s;
}

.cities-img{
    height: 20rem;
    width: 28rem;
    transition: .25s;
}

.c-stats{
    color: black;
    position: absolute;
    left: 7.5%;
    font-size: 2rem;
    line-height: 5rem;
    list-style: none;
    opacity: 0;
    transition: .5s;
    @include tablet{
        left: 0;
        font-size: 2.5rem;
        line-height: 7rem;
    }
    @include desktop{
        left: 7.5%;
        font-size: 2rem;
        line-height: 5rem;
    }
}

.c-card:active{
    transform: scaleY(175%) translateY(10rem);
    @include tablet{
        transform: scaleY(175%);
    }
    @include desktop{
        transform: scaleX(6) scaleY(1.75);
    }
}

.cities-gallery-cards:active .c-card:not(:hover){
    opacity: 0;
}

.c-gallery-cards-nicosia:active{
    transform: scaleY(175%) translateY(10rem);
    @include tablet{
        transform: scaleX(150%) scaleY(175%) translateY(12.5rem);
    }
    @include desktop{
        transform: scaleX(6) scaleY(1.75) translateX(31%);
    }
}

.c-gallery-cards-limassol:active{
    transform: scaleY(175%) translateY(-3rem);
    @include tablet{
        transform: scaleX(150%) scaleY(175%) translateY(-3rem);
    }
    @include desktop{
        transform: scaleX(6) scaleY(1.75);
    }
}

.c-gallery-cards-laranca:active{
    transform: scaleY(175%) translateY(-10rem);
    @include tablet{
        transform: scaleX(150%) scaleY(175%) translateY(-10rem)
    }
    @include desktop{
        transform: scaleX(6) scaleY(1.75) translateX(-31%);
    }
}

.c-card:active .cities-img:not(:visited){
    opacity: 0;
    @include desktop{
    transform: scaleX(.375) scaleY(1.375) translateY(5rem) translateX(-25rem);
    opacity: 100%;
    }
}

.c-card:active .cities-text:not(:visited){
    transform: scaleY(.75);
    @include desktop{
    transform: scaleX(.75) scaleY(1.75) translateY(.5rem)
    }
}

.c-card:active .c-info:not(:visited){
    transform: scaleY(.9);
    @include desktop{
    transform: scaleX(.75) scaleY(2) translateY(.5rem);
    }
}

.c-card:active .c-stats:not(:visited){
    opacity: 100%;
    @include desktop{
        transform: scaleX(.75) scaleY(1.5) translateX(5rem) translateY(5rem);
    }
}