.footer{
    height: 99vh;
    background-image: linear-gradient(color(quaternary), color(quinary));
}

.footer-header{
    text-align: center;
    font-size: 2rem;
    @include desktop{
    font-size: 6rem;
    }
}

.footer-ad{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 50vh;
}

.footer-ad-txt{
    font-size: 3rem;
}