.history{
    height: 99vh;
    background-color: color(primary);
}

.history-info{
    display: flex;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    @include desktop{
        font-size: 4rem;
    }
}

.history-gallery{
    position: absolute;
}

.h-gallery-photo{
    height: 20rem;
    position: absolute;
    transition: all 0.3s;
    outline-offset: .5rem;
}

.castle{
    position: absolute;
    height: 10rem;
    left: 8rem;
    top: 7rem
}

.beach{
    position: absolute;
    height: 10rem;
    left: 10rem;
    top: 17rem;
}

.hotel{
    position: absolute;
    width: 15rem;
    height: 10rem;
    top: 12rem;
    left: 16rem;
}

.h-gallery-photo:hover{
    transform: scale(1.4);
    outline: .25rem solid white;
    z-index: 2;
}

.history-gallery:hover .h-gallery-photo:not(:hover){
    transform: scale(0.5);
    opacity: 0.3;
}