.history{
    height: 99vh;
    background-color: color(primary);
}

.history-info{
    display: flex;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    @include desktop{
        font-size: 4rem;
    }
}

.history-gallery{
    position: absolute;
}

.h-gallery-photo{
    height: 20rem;
    position: absolute;
    transition: all 0.3s;
    outline-offset: .25rem;
}

.castle{
    position: absolute;
    height: 12rem;
    left: 4rem;
    top: 5rem;

    @include tablet{
        height: 25rem;
        top: 10rem;
        left: 10rem;
    }
    @include desktop{
        height: 40rem;
        left: 5rem;
        top: 15rem;
    }
}

.beach{
    position: absolute;
    height: 12rem;
    left: 6rem;
    top: 16rem;

    @include tablet{
        height: 25rem;
        top:22rem;
        left: 22rem;
    }
    @include desktop{
        height: 40rem;
        top: 42rem;
        left: 14rem;
    }
}

.hotel{
    position: absolute;
    width: 17rem;
    height: 12rem;
    top: 10rem;
    left: 16rem;

    @include tablet{
        height: 25rem;
        width: 30rem;
        top: 10rem;
        left: 38rem;
    }
    @include desktop{
        height: 40rem;
        width: 60rem;
        top: 24rem;
        left: 28rem;
    }
}

.h-gallery-photo:hover{
    transform: scale(1.4);
    outline: .25rem solid white;
    z-index: 2;

    @include tablet{
        transform: scale(1.2);
        outline: .5rem solid white
    }
    @include desktop{
        transform: scale(1.1);
        outline: 1rem solid white;
    }
}

.history-gallery:hover .h-gallery-photo:not(:hover){
    transform: scale(0.5);
    opacity: 0.3;
}

.history-box{
    position: absolute;
}

.history-box-text{
    position: absolute;
    display: flex;
    left: 1.3rem;
    width: 35rem;
    height: 35rem;
    top: 30rem;
    background-color: color(tertiary);
    flex-direction: column;
    @include tablet{
        top: 55rem;
        width: 74rem;
    }
    @include laptop{
        top: 5rem;
        width: 70rem;
        height: 50rem;
        left: 72rem;
    }
    @include desktop{
        height: 40vw;
        left: 48vw;
        width: 50vw;
        top: 4rem;
    }
}

.h-box-text-header{
    display: flex;
    text-align: center;
    justify-content: center;
    font-size: 3.5rem;
    @include tablet{
        font-size: 6rem;
    }
    @include desktop{
        font-size: 8rem;
    }
}

.h-box-text-list{
    text-align: center;
    font-size: 1.5rem;
    line-height: 200%;
    @include tablet{
        font-size: 1.8rem;
        line-height: 162.5%;
    }
    @include laptop{
        font-size: 2.25rem;
        line-height: 200%;
    }
    @include desktop{
        font-size: 3.5rem;
    }
}