.history{
    height: 99vh;
    background-color: color(primary);
}

.history-info{
    display: flex;
    font-size: 2rem;
    text-align: center;
    justify-content: center;
    @include desktop{
        font-size: 4rem;
    }
}

.history-gallery{
    position: absolute;
}

.h-gallery-photo{
    height: 20rem;
    position: absolute;
    transition: all 0.3s;
    outline-offset: .25rem;
}

.castle{
    position: absolute;
    height: 12rem;
    left: 4rem;
    top: 5rem;

    @include desktop{
        height: 40rem;
    }
    @include tablet{
        height: 25rem;
        top: 15rem
    }
}

.beach{
    position: absolute;
    height: 12rem;
    left: 6rem;
    top: 16rem;

    @include desktop{
        height: 40rem;
        top: 30rem;
    }
    @include tablet{
        height: 25rem;
        top:27rem;
        left: 18rem;
    }
}

.hotel{
    position: absolute;
    width: 17rem;
    height: 12rem;
    top: 10rem;
    left: 16rem;

    @include desktop{
        height: 40rem;
        width: 60rem;
        top: 19rem;
        left: 35rem;
    }
    @include tablet{
        height: 25rem;
        width: 30rem;
        top: 15rem;
        left: 32rem;
    }
}

.h-gallery-photo:hover{
    transform: scale(1.4);
    outline: .25rem solid white;
    z-index: 2;

    @include desktop{
        transform: scale(1.1);
        outline: 1rem solid white;
    }
    @include tablet{
        transform: scale(1.2);
        outline: .5rem solid white
    }
}

.history-gallery:hover .h-gallery-photo:not(:hover){
    transform: scale(0.5);
    opacity: 0.3;
}

.h-gallery-info{
    position: absolute;
}

.h-gallery-info-text{
    position: absolute;
    height: 35rem;
    top: 30rem;
    background-color: color(tertiary);
    text-align: center;
    left: 1.3rem;
    width: 35rem;
    @include desktop{
        height: 50rem;
        right: 2rem;
    }
}