.navigation-checkbox{
    display: none;
}

.navigation-button{
    background-color: white;
    height: 6rem;
    width: 6rem;
    border-radius: 50%;
    position: fixed;
    top: 6rem;
    right: 6rem;
    z-index: 55555555555;
    box-shadow: 0 1rem 3rem, rgba(0,0,0,.1);
    text-align: center;
    cursor: pointer;
}

.navigation-icon{
    position: relative;
    margin-top: 3.5rem;
}
.navigation-icon::before, .navigation-icon::after{
    content: "";
}
.navigation-icon::before{
    position: absolute;
    top: -.8rem;
    left: 0;
}
.navigation-icon::after{
    position: absolute;
    top: -.8rem;
    left: 0;
}
