.scenery{
    height: 99vh;
    background: color(primary);
}

.scenery-info{
    text-align: center;
    font-size: 3.5rem;
    @include desktop{
        font-size: 8rem;
    }
}

.scenery-gallery{
    display: flex;
    flex-direction: column;
    height: 58vh;
    text-align: center;
    justify-content: space-between;
    @include desktop{
        flex-direction: row;
        height: 75vh;
    }
}

.s-gallery-photo{
    height: 20rem;
    border-radius: 10rem;
    @include tablet{
        height: 25rem;
        border-radius: 12.5rem;
    }
    @include desktop{
        height: 40rem;
        border-radius: 20rem;
    }
}

.card{
    perspective: 150rem;
    -moz-perspective: 150rem;
    position: relative;
    margin-left: 10%;
    margin-right: auto;
    @include tablet{
        margin-left: 25%;
        margin-top: 5%;
    }
    @include desktop{
        margin-left: 1.25%;
        margin-top: 10%;
    }
}

.side{
    height: 20rem;
    width: 300px;
    border-radius: 10rem;
    font-size: 15px;
    color: white;
    backface-visibility: hidden;
    box-shadow: 0 1.5rem 4rem rgba(0,0,0 ,.15);
    @include tablet{
        height: 25rem;
        border-radius: 12.5rem;
        width: 37.5rem;
    }
    @include desktop{
        height: 40rem;
        border-radius: 20rem;
        width: 60rem;
    }
}

.front{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    transition: all 1s;
}

.back{
    background-color: white;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    transform: rotateY(-180deg);
    transition: all 1s;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card:hover .front{
    transform: rotateY(-180deg);
}
.card:hover .back{
    transform: rotateY(0deg);
}

.back-text{
    color: black;
    font-family: 'Pacifico', cursive;
    font-size: 3rem;
    @include desktop{
        font-size: 6rem;
    }
}