body{
    margin: 0;
}

.splash{
    display: flex;
    background-image: linear-gradient(rgba(22, 158, 234, 0.5)),
    url(../media/Bay.png);
    background-size: cover;
    height: 99vh;
    justify-content: center;
    align-items: center;
}

.splash-info{
    font-size: 3rem;
    align-items: center;
    text-align: center;
    animation-name: cyprus;
    animation-duration: 1s;
    animation-fill-mode: forwards;

    @include laptop{
        font-size: 4.5rem;
        animation-duration: 2.5s;
    }

    @include tablet{
        font-size: 3.75rem;
        animation-duration: 2s;
    }
}

@keyframes cyprus {
    0%{
        transform: translate(-150%, 0%);
    }
}

.splash-button{
    text-align: center;
    background-color: white;
    width: 20rem;
    height: 5rem;
    justify-content: center;
    border-radius: 50px;
    font-family: Overpass;
    font-style: normal;
    font-weight: normal;
    font-size: 2.5rem;
    transition: .3s;
}

.splash-button:hover{
    transform: scale(1.2);
}