html{
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  box-sizing: border-box;
}

body{
  margin: 0;
}

h1{
  margin: 0;
  color: white;
  font-family: Lato;
  font-style: normal;
  font-weight: normal;
}

$colors: (
  primary: #028EBA,
  secondary: #169eea,
  tertiary: #139595
);

$desktop: 1100px;
$laptop: 900px;
$tablet: 600px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin desktop{
  @media(min-width: #{$desktop}) {
    @content;
  }
}

@mixin laptop{
  @media(min-width: #{$laptop}) {
    @content;
  }
}

@mixin tablet{
  @media(min-width: #{$tablet}) {
    @content;
  }
}